.navbar
{
	background: url('../asset/navbar.png');
	width: 1500px;
	height: 50px;
	top:500px;
	position:absolute;

}
.bodystyle{
	padding-top: 20px;
	
}
.imgstyle{
	padding-top: 20px;
}
.sidebarstyle{
	background-color:green;
}
li
{
	display:inline;
}
ul
{
	margin-top: 20px;
}
html, body{
    margin:0px;
    padding:0px;
}

.thumbnail{
	width:150px;
	height:210px;
	margin:10px;
}

